<p-card header="Usuarios" subheader="Tabla de usuarios">
  <p-progressBar *ngIf="cargando" mode="indeterminate" [style]="{'height': '0.5rem'}"></p-progressBar>

  <div *ngIf="listaUsuarios">
    <p-table [value]="listaUsuarios"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario >
        <tr>
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.rol.rol}}</td>
          <td>
            <button (click)="eliminarUsuario()" pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning me-2"></button>
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger me-2"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer"></ng-template>
    </p-table>
  </div>

</p-card>
<p-toast></p-toast>
